extends layout

block content
    if lastTime
        h1(class="center") Last Visit: #{lastTime}
    else
        h1(class="center") This is your first time here!

block linkSection
    a(href="/profile") 
        div(class="navLink") Profile