<ul>
  <li><a href="home.pug">Home</a></li>
  <li><a href="profile.pug">Profile</a></li>
  <li><a href="edit profile.pug">Edit Profile</a></li>
  <li><a href="signin.pug">Signin</a></li>
  <li><a href="signup.pug">Signup</a></li>
</ul>