extends layout

block content
    h1 Sign Up:
    form(id="form" method="POST", action="/signup")
        p Username: 
            input(type="text" name="username")
        p Password: 
            input(type="password" name="password")
        p Confirm Password: 
            input(type="password" name="passwordConf")
        p Email: 
            input(type="text" name="email" )
        p Age: 
            input(type="number" name="age" )
        p What is the best pet to have?: 
            select(name='answer1')
                option(value='dog' ) Dog
                option(value='cat' ) Cat
                option(value='other' ) Other

        p PC or Console?: 
            select(name='answer2')
                option(value='PC' ) PC
                option(value='Console' ) Console
        p Are you left or right handed?: 
            select(name='answer3')
                option(value='left' ) Left
                option(value='right' ) Right
        p(class="error") #{error}
        p   
            input(type="submit" value="Sign Up")

block linkSection
    a(href="/login") 
        div(class="navLink") Log In