extends layout

block content
    h1 testing version of signin
     form(id="form" method="POST", action="/home")
        p uname: 
            input(type="text" name="uname")
        p Password: 
            input(type="text" name="pass")
        p   
            input(type="submit" value="login")