extends layout

block content
    h1 testing version of signin
     form(id="form" method="POST", action="/login")
        p Username: 
            input(type="text" name="username")
        p Password: 
            input(type="text" name="password")
        p #{error}
        p   
            input(type="submit" value="Log In")
             