extends layout

block content
    h1 Sign In:
     form(id="form" method="POST", action="/login")
        p Username: 
            input(type="text" name="username")
        p Password: 
            input(type="text" name="password")
        p(class="error") #{error}
        p   
            input(type="submit" value="Log In")


block linkSection
    a(href="/signup") 
        div Sign Up