body {
    
    color: rgb(250, 253, 255);
    font-size: 38px;
    text-align: center;
    font-style: italic;
    
        
     background-image: url("images/signupbgg.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     
       
    
    
}
div {
    text-align:center;
    list-style-type: none;
    font-size: 42px;
    font-style: oblique;
}
div:hover{
    color: rgb(152, 126, 245);
    transition: all 500ms;
}
