
body {
    
    color: rgb(250, 253, 255);
    font-size: 31px;
    text-align: center;
    font-style: italic;
    
        
     background-image: url("images/signupbgg.jpg");
     background-repeat: no-repeat;
	 background-size: cover;
	 margin:0px;
       
    
}
.bottomSpace {
    margin-bottom: 50px;
}
.navLink {
    text-align:center;
    list-style-type: none;
    font-size: 42px;
	font-style: oblique;
	border-bottom: 4px solid rgb(51, 51, 51);
}
div:hover{
    color: rgb(152, 126, 245);
    transition: all 500ms;
}
a {
    text-decoration: none;
    color: #111;
}
p {
    font-size: 26px;
}
.center {
    margin-top:15%;
}
.backgroundThing {
    padding: 10px;
    width: 25%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(70,70,70,.7);
    border-radius: 20px;
}
.error {
    color: black;
    font-size: 40px;
    background-color: red;
}

@media all and (max-width: 940px) {
    .backgroundThing {
        padding: 10px;
        width: 230px;
        margin-left:auto;
        margin-right:auto;
        background-color: rgb(70,70,70,.7);
        border-radius: 20px;
    }
}